canvas {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0
}
body {
background-image: url('../images/travis-ci-logo.svg'); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

background-position: center;
background-repeat: no-repeat;
background-size: auto 50%;
}